<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:xi="http://www.w3.org/2001/XInclude" status="WARN">
	<xi:include href=".log4j.properties.xml"/>
	<Appenders>
		<Console name="Console" target="SYSTEM_ERR">
			<PatternLayout pattern="%date{HH:mm:ss.SSS} %-5level [%thread] %class.%method():%line%n%msg%n%exception%n"/>
		</Console>
		<File name="File" fileName="${filename}" append="true">
			<PatternLayout>
				<Pattern>%date{dd.MM.yyyy, HH:mm:ss.SSS} %-5level [%thread] %class.%method():%line%n%msg%n%exception%n</Pattern>
			</PatternLayout>
		</File>
	</Appenders>
	<Loggers>
		<Root level="${level}">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</Root>
	</Loggers>
</Configuration>