.list-item {
	padding-top: 16px;
	padding-bottom: 16px;
}

.form {
	min-width: 800px;
}

.form-element {
	padding-bottom: 16px;
}

.input {
	width: 50%;
}

.error-message {
	vertical-align: middle;
}

.math {
	font-family: "Times New Roman", serif;
	font-size: 120%;
}

.line {
	width: 10px;
	border-left: 1px dashed black;
}